/*link test*/

  body {
    font-family: 'Permanent Marker', cursive;
    background-color: yellow;
    background-image: url(../images/background3.jpg);
    background-position:center;
    background-attachment:fixed;
    background-size: cover;
  }
  
  img {
    width: 140px;
    height:100px;
  }
  
  .title {
    font-size:2em;
  }
  
  .banner {
    font-size:3em;
    text-align:center;
  }
  
  .player{
    display:inline-block;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(113, 206, 243);
    margin: 10px;
  }

  .player:hover {
    transform: scale(1.1);
  }

  .player-image {
    padding: 0 10px;
    margin: 3px 0;
  }

  .player-name {
    text-align:center;
  }
  
  .player-hp {
    text-align:center;
  }
  
  .opponent {
    display:inline-block;
    border: 3px solid black;
    background-color:red;
  }
  
